In [1]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
from math import log2
import plotly.graph_objects as go

from words_class import Words, WORDS

In [2]:
#from frequency import *

In [3]:
dg = pd.read_csv('genele-info-dataframe.csv')

In [12]:
W = Words(dg['padded_symbol'])
W.update('cap1','10002')
W.update('mrc2','20202')
#W.update('muc7','20202')
W.update('mcc','20202')
W.update('micb','22202')
W.update('micd','22202')
#W.update('micb','22220')
#W.update('gad1','02122')
#W.update('vcx','22022')

dg_ = W.table.copy()
dg_.sort_values('freq_pos',ascending=False)

,word0,word,num_distinct,char0,char1,char2,char3,char4,freq_char,freq_char_dist,freq_symb,freq_symb_dist,freq_pos
2841,MICG,MICG,5,M,I,C,G,,13287,13287,13,13,6590
2942,MICE,MICE,5,M,I,C,E,,13167,13167,13,13,6548

In [30]:
W = Words()
W.update('MRC1','20202')
W.update('MAC','20202')
W.table

,word0,word,num_distinct,char0,char1,char2,char3,char4,freq_char,freq_char_dist,freq_symb,freq_symb_dist,freq_pos
526,MPC2,MPC2,5,M,P,C,2,,16403,16403,51,51,7571
1637,MUC2,MUC2,5,M,U,C,2,,13195,13195,54,54,7004
1907,MICD,MICD,5,M,I,C,D,,13842,13842,55,55,6903
2053,MICC,MICC,4,M,I,C,C,,14959,11684,70,54,6858
2500,MICB,MICB,5,M,I,C,B,,13440,13440,55,55,6707
2841,MICG,MICG,5,M,I,C,G,,13287,13287,55,55,6590
2862,MYCL,MYCL,5,M,Y,C,L,,12874,12874,52,52,6579
2939,MYCN,MYCN,5,M,Y,C,N,,13030,13030,52,52,6550
2942,MICE,MICE,5,M,I,C,E,,13167,13167,55,55,6548
3076,MUC4,MUC4,5,M,U,C,4,,11894,11894,53,53,6496
3538,MUC6,MUC6,5,M,U,C,6,,11465,11465,53,53,6317
3556,MUC7,MUC7,5,M,U,C,7,,11362,11362,53,53,6309

,word0,word,num_distinct,char0,char1,char2,char3,char4,freq_char,freq_char_dist,freq_symb,freq_symb_dist,freq_pos
526,MPC2,MPC2,5,M,P,C,2,,16403,16403,14920,14920,7571
1042,MCC,MCC,3,M,C,C,,,18583,10308,16570,9243,7265
1427,MSC,MSC,4,M,S,C,,,17742,12742,15925,11538,7101
1637,MUC2,MUC2,5,M,U,C,2,,13195,13195,12073,12073,7004
1907,MICD,MICD,5,M,I,C,D,,13842,13842,12584,12584,6903
1990,MICA,MICA,5,M,I,C,A,,14959,14959,13568,13568,6877
2053,MICC,MICC,4,M,I,C,C,,14959,11684,13525,10585,6858
2294,MYC,MYC,4,M,Y,C,,,15859,10859,14172,9785,6782
2500,MICB,MICB,5,M,I,C,B,,13440,13440,12236,12236,6707
2841,MICG,MICG,5,M,I,C,G,,13287,13287,12124,12124,6590
2862,MYCL,MYCL,5,M,Y,C,L,,12874,12874,11690,11690,6579
2939,MYCN,MYCN,5,M,Y,C,N,,13030,13030,11854,11854,6550
2942,MICE,MICE,5,M,I,C,E,,13167,13167,12023,12023,6548
3076,MUC4,MUC4,5,M,U,C,4,,11894,11894,10808,10808,6496
3538,MUC6,MUC6,5,M,U,C,6,,11465,11465,10394,10394,6317
3556,MUC7,MUC7,5,M,U,C,7,,11362,11362,10291,10291,6309

In [46]:
bad_chars = ''.upper() ###
good_chars = ''.upper()
char1_wrong_pos = ''.upper()
char2_wrong_pos = ''.upper()
char3_wrong_pos = ''.upper()
char4_wrong_pos = ''.upper()
char5_wrong_pos = ''.upper()
good_but_not_repeated = ''.upper()


dg_ = dg[
#    (dg['len']==3) &
    ~(dg['padded_symbol'].str.contains('|'.join('='+bad_chars).upper())) &
    (dg['padded_symbol'].apply(lambda s: all([x in s for x in good_chars]))) &
#    (dg['char1']=='r'.upper()) &
#    (dg['char2']=='a'.upper()) &
#    (dg['char3']=='f'.upper()) &
#    (dg['char4']=='1'.upper()) &
#    (dg['char4']==' '.upper()) &
#    (dg['char5']==' '.upper()) &
#    (dg['padded_symbol'].str.count('r'.upper())<2) &
    True
].copy()


freq_char = char_frequency(dg_['padded_symbol'])
freq_symb = symbol_frequency(dg_['padded_symbol'])
freq_pos = position_frequency(dg_['padded_symbol'])
words = list(dg_['padded_symbol'])


dg_['freq_char'] = dg_['padded_symbol'].apply(lambda x:freq_score_sum(x,frequency=freq_char))
dg_['freq_char_dist'] = dg_['padded_symbol'].apply(lambda x:freq_score_sum_distinct(x,frequency=freq_char))
dg_['freq_symbol'] = dg_['padded_symbol'].apply(lambda x:freq_score_sum(x,frequency=freq_symb))
dg_['freq_symbol_dist'] = dg_['padded_symbol'].apply(lambda x:freq_score_sum_distinct(x,frequency=freq_symb))
dg_['freq_pos'] = dg_['padded_symbol'].apply(lambda x: freq_score_sum_pos(x,frequency=freq_pos))
dg_ = dg_.sort_values('freq_symbol_dist',ascending=0)
dg_

,symbol,len,distinct,padded_symbol,char1,char2,char3,char4,char5,freq_char,freq_char_dist,freq_symbol,freq_symbol_dist,freq_pos
118,RPA1,5,5,RPA1,R,P,A,1,,18626,18626,17099,17099,8025
1,PRC1,5,5,PRC1,P,R,C,1,,18626,18626,17056,17056,8746
0,CAP1,5,5,CAP1,C,A,P,1,,18725,18725,17026,17026,8935
10,CPA1,5,5,CPA1,C,P,A,1,,18725,18725,17026,17026,8526
36,ACP1,5,5,ACP1,A,C,P,1,,18725,18725,17026,17026,8344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11461,ZMYM5,5,4,ZMYM5,Z,M,Y,M,5,5649,3616,5394,3478,1411
10161,TTTY7,5,3,TTTY7,T,T,T,Y,7,8791,3601,8316,3434,2475
10176,TTTY8,5,3,TTTY8,T,T,T,Y,8,8771,3581,8293,3411,2469
11471,ZMYM6,5,4,ZMYM6,Z,M,Y,M,6,5497,3464,5245,3329,1333
11456,LYZL6,5,4,LYZL6,L,Y,Z,L,6,5461,3446,5223,3318,1448

In [49]:
answer = ''.ljust(5).upper()

fig = go.Figure(layout_height=500, layout_width=750)
for f in ['freq_char','freq_symbol','freq_pos']:
    fig.add_trace(go.Violin(name=f, x=dg[f], marker_color='darkblue', showlegend=False))
    fig.add_trace(go.Scatter(x=[dg[dg['padded_symbol']==answer][f].values[0]], y=[f], marker_color='red', marker_size=15, showlegend=False))
fig.show()

IndexError: index 0 is out of bounds for axis 0 with size 0